{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script src="{% static 'accounts/js/script.js' %}"></script>
{% endblock js %}

{% block content %}
    <h3>{{ user.username }} profile</h3>
    {% if is_profile_owner %}
        <a href="{% url 'accounts:edit_profile' request.user.id %}">Edit profile</a>
    {% else %}
        {% if is_following %}
            <button id="unfollow" class="btn btn-secondary">Unfollow</button>
        {% else %}
            <button id="follow" class="btn btn-primary">Follow</button>
        {% endif %}        
    {% endif %}    
    <p class="mt-3">{{ user.profile.bio }}</p>    
    <hr>
    <h5>Posts:</h5>
    <ul>
        {% for article in articles %}
            <li class="mb-1">
                {% if is_profile_owner  %}
                    <a class="btn btn-info btn-sm" href="{% url 'blog:edit_article' article.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'blog:delete_article' article.id %}">Delete</a> 
                {% endif %}            
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
            </li>
        {% empty %}
            <div class="alert alert-info">این کاربر هیچ نوشته ای ندارد</div>
        {% endfor %}
    </ul>
{% endblock content %}