{% extends 'base.html' %}

{% block content %}
    <h3>{{ user.username }} profile</h3>
    <p>{{ user.profile.bio }}</p>
    <hr>
    <h5>Posts:</h5>
    <ul>
        {% for article in articles %}
            <li class="mb-1">
                {% if request.user.is_authenticated and request.user.id == article.writer.id  %}
                    <a class="btn btn-info btn-sm" href="{% url 'blog:edit_article' article.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'blog:delete_article' article.id %}">Delete</a> 
                {% endif %}            
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
            </li>
        {% empty %}
            <div class="alert alert-info">این کاربر هیچ نوشته ای ندارد</div>
        {% endfor %}
    </ul>
{% endblock content %}