{% extends 'base.html' %}

{% block content %}
    <h3>Register</h3>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        {% comment %} {{ form.as_p }} {% endcomment %}

        <div class = "text-danger">
            {{ form.non_field_errors }}
        </div>

        <div class="form-group">            
            <label for="{{ form.username.id_for_label }}" class="col-md-2 control-label">نام کاربری</label>
            {{ form.username.errors }}
            {{ form.username }}
        </div>

        <div class="form-group">            
            <label for="{{ form.email.id_for_label }}" class="col-md-2 control-label">ایمیل</label>
            {{ form.email.errors }}
            {{ form.email }}
        </div>

        <div class="form-group">            
            <label for="{{ form.password1.id_for_label }}" class="col-md-2 control-label">رمز عبور</label>
            {{ form.password1.errors }}
            {{ form.password1 }}
        </div>

        <div class="form-group">            
            <label for="{{ form.password2.id_for_label }}" class="col-md-2 control-label">تکرار رمز عبور</label>
            {{ form.password2.errors }}
            {{ form.password2 }}
        </div>
        
        <br>

        <input type="submit" value="Register" class="btn btn-primary" />
    </form>
{% endblock content %}