{% extends 'base.html' %}
{% load jalali_tags %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h3>{{ article.title }}</h3>
            <small class="badge badge-info">Published: {{ article.publish|timesince }}</small>
            <small class="badge badge-info">Writer: <a class="text-white" href="{% url 'accounts:profile' article.writer.id %}">{{ article.writer }}</a></small>
            <small class="badge badge-info">Visit: {{ article.view_count }}</small>
            <hr>
            <p class="text-justify">
                {{ article.body|safe }}
                <h5>Tags:</h5>
                <div>
                    {% for tag in article.tags.all %}
                        <a href="/?tag={{ tag.id }}" class="badge badge-pill badge-info">{{ tag.title }}</a>
                    {% endfor %}
                </div> 
                <hr>
                <div>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'blog:like_article' article.id %}">
                            <i class="fa 
                                {% if can_like %}
                                    fa-heart-o
                                {% else %}
                                    fa-heart
                                {% endif %} fa-2x" 
                                style="color:red;"></i>
                        </a>
                        <span class="ml-2">{{ article.like_count }} Likes</span>

                    {% endif %}
                </div>               
            </p>            
            <hr>
            <h3>Comments ({{ comments.count }})</h3>
            <br>
            {% for comment in comments %}
                <div class="card">
                    <div class="card-body">
                        <div class="card-title font-weight-bold">
                             <a class="" href="{% url 'accounts:profile' comment.writer.id %}">{{ comment.writer.username }}</a>
                        </div> 
                        <div class=" text-muted card-title">
                            {{ comment.created | to_jalali:'%Y/%m/%d %H:%M:%S' }}
                            {{ comment.created | to_jalali:'%B' }}
                        </div>                               
                        <p class="card-text text-">{{ comment.message | linebreaks }}</p>
                    </div>
                </div>
                <br>
            {% endfor %}
            <br>
            <form action="" method="post">
                {% csrf_token %}
                <textarea class="form-control mb-2 col-5" rows="5" type="text" name="message"></textarea>
                <input type="submit" value="Send" class="btn btn-primary" />
            </form>            
        </div>    
    </div>
{% endblock %}