{% extends 'base.html' %}
{% load static %}
{% load jalali_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
{% endblock style %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <form method="GET" class="form-inline">
                <div class="form-group">
                    <input type="Search" class="form-control mr-2" name="search" value="{{ request.GET.search }}" >
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>               
            </form>            
            <div class="mt-5">
                <h6>Filter by category: </h6>
                {% for category in categories %} 
                    <a href="/category/{{ category.id }}" class="badge badge-success">
                        {{ category.title }}
                    </a>                
                {% endfor %}                    
            </div>            
        </div>
    </div>

    {% for article in articles %}
        <div class="card">
            <div class="card-body">
                <a href="{{ article.get_absolute_url }}" >
                    <h5>{{ article.title }}</h5>                
                </a>
                <div class="small mb-3">
                    <span class="badge badge-info">{{ article.category }}</span>                    
                    <span class="badge badge-info">{{ article.view_count }} visit</span>                    
                    <span>{{ article.publish|to_jalali:'%Y/%m/%d %H:%M:%S' }}</span>                                                            
                </div>
                <div class="text-justify">{{ article.body|truncatechars:500|safe }}</div>                
            </div>
        </div>
    {% endfor %}
{% endblock %}